*{
  padding:0;
  margin: 0;
}

body{


}
/*.container{
  margin: 50px auto;
  width:960px;

}*/
.wrapper{
  width:1050px;
  margin: 0 auto;
}

.picture{
position: absolute;
  width: 1050px;
  margin: 0 auto;

 
}

.picture img{


}
.form{
  width: 450px;
  margin: 50px 70px auto;
 border: 2px solid #73AD21;
  padding:50px 60px;
 /* background: #87bdd8;*/
 background: #fff;
  opacity: 0.7;
  height:auto;
  border-radius: 60px;
  
   position: absolute;
 

   box-shadow: 5px 5px 8px #888888;
}

label p{
  font-size: 18px;
  position: relative;
  top: -20px;
  left: 15px;
  display:block;
  margin-bottom:10px;
  text-align: center;
 
    color: #32CD32
  
}

input[type="file"]{

padding: 10px 10px;
margin: 0 0 0px 0;
}

input[type="submit"]
{
  padding:10px 20px;
  position: relative;
  left: 5px;
  margin: 20px 0 0 0;
  cursor: pointer;


}
input[type="email"]{
  
  margin:20px 0px 12px -5px;
 padding:3px 24px;

}

#myCarousel{

  position: absolute;
   width: 100%;
 
}
.carousel-inner img.black {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%);  make all photos black and white 
      width: 100%; /* Set width to 100% */

      margin: auto;
  }





.response{
  text-align: center;
  padding:15px;
  color:#3c763d;
  background: #dff0d8;
  border-color:#d6e9c6;
  width:600px;
  margin: 0 auto;

}




.form-container{
  width:600px;
  margin:0 auto;


}

.test{
  float:left;
  position: absolute;
  margin-left:100px; 
  width: 400px;
  height: 200px;
  z-index: 0;
  position:absolute;
}

/* footer------------------------ */











.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  
  background-color: #2f2f2f;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */



.modal-footer a.close{
  color:red;

}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
   background: #ddd;
   border-top: 1 solid #000;
   
}

@media (max-width: 750px) {
    .form {
       width:
       380px;
       height: 400px;
      position: relative;
      left: -110px;
      bottom:80px;
      
    }
  
  }


@media (max-height: 800px) {
    .footer{
      display: none;
    }
  
  }



/* Add Animation */
@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}